
  /* main heading */
  h1 {
    font-size: 42px;
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
    color: #2C003E;
    background-color: #D2FAFB;
  }

  h2 {
    font-size: 28px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #0F4C75;
  }

  /* box around each week */
  .weekbox {
    font-size: 20px;
    text-align: center;
    font-family: "Lucida Console", Courier, monospace;
    color: #3282B8;
    border: 3px outset #0F4C75;
    border-color: #BBE1FA;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 50px;

  }

  /* center all images */
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* make image bigger when navigate */
  .image:hover {
    transform: scale(1.2);
  }

  /*footer*/
  footer {
    text-align: right;

  }

  li {
    float: left;
    display: block;
    padding: 10px;
    background-color: #BBE1FA;
    font-family: "Lucida Console", Courier, monospace;
  }

  li a:hover {
    background-color: #3282B8;
    color: white;
  }
  }
