
  /* main heading */


.maintitle {
    font-size: 3rem;
    text-align: center;
    font-family: "Arial", Gadget, sans-serif;
    color: #0671B7;
    background-color: #C8E7F5;
    border: 5px double #F8B7CD;
    border-color: #F8B7CD;
  }

.secondmaintitle {
  font-size: 2rem;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: #F8B7CD;
  background-color: #67A3D9;
}

h3 {
  font-size: 1.5rem;
  text-align: left;
  font-family: Verdana, Geneva, sans-serif;
  color: #0671B7;

}

h4 {
  font-size: 1.2rem;
  text-align: left;
  font-family: Tahoma, Geneva, sans-serif;
  color: #F8B7CD;

}

body {
  font-size: 16px;
}

footer {
  text-align: right;
}

nav {
  float: left;
  display: block;
  padding: 10px;
  background-color: #BBE1FA;
  font-family: "Lucida Console", Courier, monospace;
}

nav a:hover {
  background-color: #0671B7;
  color: white;
}

li a:hover {
  background-color: #F6D2E0;
  color: white;
}
section {
  width: 80%;
  border: 1px solid #C8E7F5;
  padding: 20px;
  margin: 20px;
  align: center;

}
